<a href="https://colab.research.google.com/github/jiriyaporn/data_viz/blob/main/Funation_Loop_Condition.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

###Function

## Function template

### ทำหน้าทที่รับ input มาประมาณผลออกมาเป็น output

### f(x) = y

## def คือการกำหนดฟังก์ชัน

``` python
def function_name(_Input_) : 
    do_somthing with _Input_ to get _Output_
    reture _Output_
``` 
back tick กดค้าง ````````````` กด ~ alt 9 > 6 (full keyboard with number)
tilde ~
curly bracket {}
squar bracket []

In [ ]:
def print_name (name , surname , ID ) : 
  st = f' ชื่อ {name} นามสกุล {surname} รหัส {ID}'
  return st

In [ ]:
print_name('จิริยาพร' , '6130205461' , 'ธิมาพร')

' ชื่อ จิริยาพร นามสกุล 6130205461 รหัส ธิมาพร'

funation มีส่วนสำคัญ 4 ส่วน
1. บอก python ว่าเราจะเขียนฟังก์ชัน ชื่ออะไร ````def function_name() :``` (ขาดไม่ได้)
2. กำหนดตัวแปรที่จะเป็น input ``` _Input_```(ขาดได้)
3. ส่วนประมวลผล  ```do_something with _Input_ to get _Output_``` ()
4. ส่วน output return _Output_ (ขาดได้)

## ตัวอย่างการเขียน normal function

In [ ]:
def print_name(surname,ID,name) :
    st =  f'ชื่อ {name} นามสกุล {surname} รหัส {ID}' 
  return st

IndentationError: ignored

In [ ]:
print_name('jiriyaporn' , '6130205461' , 'janthamat')

' ชื่อ jiriyaporn นามสกุล 6130205461 รหัส janthamat'

เราใช้เว้นวรรค indent เพื่อบอกขอบเขตของโปรแกรม

ฟังก์ชันนไม่จำเป็นต้องมี output

In [ ]:
def print_name2(surname,ID,name) :
    st = f' ชื่อ {name} นามสกุล {surname} รหัส {ID} '
    print(st)

In [ ]:
print_name2('jiriyaporn' ,  '6130205461' , 'janthamat')

 ชื่อ janthamat นามสกุล jiriyaporn รหัส 6130205461

ฟังก์ชันไม่จำเป็นต้องมี input

In [ ]:
def pi () :
    return 3.141592653

In [ ]:
pi()*(2**2) # หาพื้นที่ของววงกลมที่มีรัศมีเท่ากับ pi * r^2

12.56637061436

เราสามารถกำหนดค่า default ให้กับฟังก์ชันได้

In [ ]:
def print_2lines_default(name,surname,ID,grade='F' ) :
    st = f' ชื่อ {name} นามสกุล {surname} รหัส {ID}'
    print (st)
    st2=f' เกรดวิชา Data Viz >>> {grade} '
    print(st2)

In [ ]:
print_2lines_default( 'จิริยาพร' , 'จันทะมาตย์' , '6130205461' )

 ชื่อ จิริยาพร นามสกุล จันทะมาตย์ รหัส 6130205461
 เกรดวิชา Data Viz >>> F

### วนซ้ำ Loop

for เป็นค่าที่ใช้บอก python ว่าเรากำลังเขียน loop โดยที่ for จะดึงสมาชิกจาก list

#คำสั่ง for คำสั่งวนซ้ำ

In [ ]:
for i in [1,2,3] :
  print(f'this member = {i} after process = {i**2} ' )

this member = 1 after process = 1
this member = 2 after process = 4
this member = 3 after process = 9

In [ ]:
for i in [1,2,3] :
  o = i**2
  print(f'this member = {i} after process = {o} ' )

this member = 1 after process = 1
this member = 2 after process = 4
this member = 3 after process = 9

ตัวอย่างการใช้คำสั่ง for ในการวนซ้ำค่าของ ร g,njv i คือ 'jiriyaporn'

In [3]:
for i in 'jiriyaporn' :
  print(f' {i} -> / ' ,end = ' , ' ) #สั่งให้ print แบบไม่เว้นบรรทัด

 j -> /  ,  i -> /  ,  r -> /  ,  i -> /  ,  y -> /  ,  a -> /  ,  p -> /  ,  o -> /  ,  r -> /  ,  n -> /  ,

## สร้าง list ตัวเลขแบบอัตโนมัติ range()

# ห้ามตั้งชื่อซ้ำกับฟังก์ชัน

In [9]:
range5_output = range(5) 
print(list(range5_output))

[0, 1, 2, 3, 4]

In [10]:
for i in range(100) :
  print('งง' ,end=' ')

งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง

In [11]:
list(range(1,11)) #เริ่มต้นทึบ จบเป็นโปร่ง เหมือน list slicing

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

#

In [15]:
list(range(-3,20,4))

[-3, 1, 5, 9, 13, 17]

#loop ซ้อน loop

In [25]:
for name in range(2,5) : #(2 - 4)

  for name1 in range(1,13) : #(1 - 12)
    print(name, ' X ' ,name1,  ' = ' ,name*name1)

2  X  1  =  2
2  X  2  =  4
2  X  3  =  6
2  X  4  =  8
2  X  5  =  10
2  X  6  =  12
2  X  7  =  14
2  X  8  =  16
2  X  9  =  18
2  X  10  =  20
2  X  11  =  22
2  X  12  =  24
3  X  1  =  3
3  X  2  =  6
3  X  3  =  9
3  X  4  =  12
3  X  5  =  15
3  X  6  =  18
3  X  7  =  21
3  X  8  =  24
3  X  9  =  27
3  X  10  =  30
3  X  11  =  33
3  X  12  =  36
4  X  1  =  4
4  X  2  =  8
4  X  3  =  12
4  X  4  =  16
4  X  5  =  20
4  X  6  =  24
4  X  7  =  28
4  X  8  =  32
4  X  9  =  36
4  X  10  =  40
4  X  11  =  44
4  X  12  =  48

#loop in function

In [52]:
def print_feeling(I,friends,feeling = 'miss') :
  for friend in friends :
    print(f' {I} {feeling} {friend}' )

In [53]:
list_friends = [ 'aor' , 'eye' , 'tle' , 'boom' , 'ben' , 'bex' ]

In [54]:
print_feeling('aor' , list_friends)

 aor miss aor
 aor miss eye
 aor miss tle
 aor miss boom
 aor miss ben
 aor miss bex

In [55]:
#condition เงื่อนไข

In [66]:
  for name1 in list_friends :
    for name2 in list_friends :
      if name1 = name2 :
      print(name1, 'love', name2)

SyntaxError: ignored

==,

In [64]:
'aor' == 'eye'

False

In [65]:
'bex' != 'eye'

True

In [ ]:
if False :
  print( 'yes' )

#condition เงื่อนไข

การวนลูปโดยมีเงื่อนไขต่างๆมาเกี่ยวข้อง โดยมี pettern

In [ ]:
```python
if condition :
  do somting