<a href="https://colab.research.google.com/github/jiriyaporn/data_viz/blob/main/Pandas_101.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [6]:
import os 

path = '/content/drive/My Drive/dataviz'

In [7]:
covid_file_path = os.path.join(path, 'pm-20-jan-2021.csv')
print(covid_file_path)

/content/drive/My Drive/dataviz/pm-20-jan-2021.csv

In [8]:
a = path + '/pm-20-jan-2021.csv'
print(a)

/content/drive/My Drive/dataviz/pm-20-jan-2021.csv

## load data to memory

In [9]:
data_covid = pd.read_csv(covid_file_path)
data_covid

         No.  ...                                         risk
0          1  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
1          2  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
2          3  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
3          4  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
4          5  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
...      ...  ...                                          ...
12648  12649  ...                             State Quarantine
12649  12650  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
12650  12651  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
12651  12652  ...                                Cluster ระยอง
12652  12653  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้

[12653 rows x 10 columns]

In [ ]:
data_covid.head()

   No. announce_date  ... district_of_onset                              risk
0    1     1/12/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
1    2     1/17/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
2    3     1/22/2020  ...             เมือง  คนต่างชาติเดินทางมาจากต่างประเทศ
3    4     1/22/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
4    5     1/24/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ

[5 rows x 10 columns]

In [ ]:
data_covid.shape

(12653, 10)

##ชี้ค่าในตาราง

In [ ]:
data_covid['province_of_onset']

0        กรุงเทพมหานคร
1        กรุงเทพมหานคร
2               นครปฐม
3        กรุงเทพมหานคร
4        กรุงเทพมหานคร
             ...
12648           ชลบุรี
12649            ระยอง
12650            ระยอง
12651            ระยอง
12652              ตาก
Name: province_of_onset, Length: 12653, dtype: object

In [ ]:
data_covid['province_of_onset'][12648]

'ชลบุรี'

##.iloc

In [ ]:
data_covid.iloc[4,7]

'กรุงเทพมหานคร'

## Table slicing

#### ตัดมาเฉพาะ column ที่ต้องการ

In [ ]:
smaller_table = data_covid[['announce_date','province_of_onset','risk']] 
smaller_table

      announce_date  ...                                         risk
0         1/12/2020  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
1         1/17/2020  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
2         1/22/2020  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
3         1/22/2020  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
4         1/24/2020  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
...             ...  ...                                          ...
12648     1/20/2021  ...                             State Quarantine
12649     1/20/2021  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
12650     1/20/2021  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
12651     1/20/2021  ...                                Cluster ระยอง
12652     1/20/2021  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้

[12653 rows x 3 columns]

#### ตัดเฉพาะ rows ที่ต้องการ

### แบบง่ายที่ใช้ไม่ค่อยได้ มองเป็น array ตัดแบบarray

In [ ]:
data_covid.iloc[1:5,:]

   No. announce_date  ... district_of_onset                              risk
1    2     1/17/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
2    3     1/22/2020  ...             เมือง  คนต่างชาติเดินทางมาจากต่างประเทศ
3    4     1/22/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
4    5     1/24/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ

[4 rows x 10 columns]

แบบ advanced แต่ใช้ประโยชน์ได้เยอะกว่า (ตัดใช้แบบ logic query)

In [ ]:
data_covid[data_covid['province_of_onset']== 'ขอนแก่น']

         No.  ...                                           risk
180      181  ...                                        สนามมวย
462      463  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
1466    1467  ...                  คนไทยเดินทางกลับจากต่างประเทศ
1970    1971  ...  ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว
2637    2638  ...                  สัมผัสผู้เดินทางจากต่างประเทศ
2673    2674  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
5948    5949  ...                              Cluster สมุทรสาคร
6082    6083  ...                              Cluster สมุทรสาคร
9333    9334  ...                           อยู่ระหว่างการสอบสวน
9334    9335  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
10610  10611  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
11517  11518  ...                           อยู่ระหว่างการสอบสวน
11697  11698  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
11698  11699  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้

[14 rows x 10 columns]

การชี้คำในตารางด้วย datd_covid[x] x สามารถมีค่าที่ใส่เข้าไปได้ 2 แบบ

1. ชื่อ column
2. ใส่ rows ที่ต้องการา (ใส่ list ทีมีขนาดเม่ากับจำนวนแถว แล้วบอกว่าเอา แถวไหนบ้างโดยใช้ logical expression)
(True/False)

In [ ]:
ten_rows_covid = data_covid.iloc[:10,:]
ten_rows_covid

   No. announce_date  ... district_of_onset                              risk
0    1     1/12/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
1    2     1/17/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
2    3     1/22/2020  ...             เมือง  คนต่างชาติเดินทางมาจากต่างประเทศ
3    4     1/22/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
4    5     1/24/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
5    6     1/25/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
6    7     1/26/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
7    8     1/26/2020  ...            หัวหิน  คนต่างชาติเดินทางมาจากต่างประเทศ
8    9     1/28/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
9   10     1/28/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ

[10 rows x 10 columns]

In [ ]:
ten_rows_covid[[True,False,True,False,True,False,True,False,True,False,]]  #ใส่rows ที่ต้องการ

   No. announce_date  ... district_of_onset                              risk
0    1     1/12/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
2    3     1/22/2020  ...             เมือง  คนต่างชาติเดินทางมาจากต่างประเทศ
4    5     1/24/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
6    7     1/26/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
8    9     1/28/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ

[5 rows x 10 columns]

In [ ]:
ten_rows_covid['province_of_onset'] == 'กรุงเทพมหานคร'

0     True
1     True
2    False
3     True
4     True
5     True
6     True
7    False
8     True
9    False
Name: province_of_onset, dtype: bool

In [ ]:
ten_rows_covid[ten_rows_covid['province_of_onset'] == 'กรุงเทพมหานคร']

   No. announce_date  ... district_of_onset                              risk
0    1     1/12/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
1    2     1/17/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
3    4     1/22/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
4    5     1/24/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
5    6     1/25/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
6    7     1/26/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
8    9     1/28/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ

[7 rows x 10 columns]

##HW 6 

1.คำนวณอายุเฉลี่ย ของผู้หญิง และผู้ชาย ของข้อมูลทั้งหมด

2.คำนวณอายุเฉลี่ย ของผู้หญิง และผู้ชาย ของผู้ป่วยในขอนแก่น

3.จำนวนผู้ป่วยที่เป็นต่างชาติ

In [ ]:
data_covid[data_covid['risk']=='คนที่เดินทางมาจากต่างประเทศ']

Empty DataFrame
Columns: [No., announce_date, notification_date, sex, age, nationality, province_of_isolation, province_of_onset, district_of_onset, risk]
Index: []

In [ ]:
data_covid[data_covid['risk']=='คนต่างชาติเดินทางมาจากต่างประเทศ'].shape[0]

155

In [ ]:
data_covid[data_covid['sex']=='หญิง']

         No.  ...                                         risk
0          1  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
1          2  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
2          3  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
4          5  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
5          6  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
...      ...  ...                                          ...
12648  12649  ...                             State Quarantine
12649  12650  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
12650  12651  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
12651  12652  ...                                Cluster ระยอง
12652  12653  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้

[5332 rows x 10 columns]

In [ ]:
age_sex = smaller_table[smaller_table['sex']=='หญิง']
age_sex

        sex   age
0      หญิง  61.0
1      หญิง  74.0
2      หญิง  73.0
4      หญิง  66.0
5      หญิง  33.0
...     ...   ...
12648  หญิง  44.0
12649  หญิง  52.0
12650  หญิง  23.0
12651  หญิง  29.0
12652  หญิง  22.0

[5332 rows x 2 columns]

In [ ]:
a = age_sex['age']
a

0        61.0
1        74.0
2        73.0
4        66.0
5        33.0
         ...
12648    44.0
12649    52.0
12650    23.0
12651    29.0
12652    22.0
Name: age, Length: 5332, dtype: float64

###1.คำนวณอายุเฉลี่ย ของผู้หญิง และผู้ชาย ของข้อมูลทั้งหมด

In [ ]:
sex_w = data_covid[['sex','age','province_of_isolation']]
sex_w

        sex   age province_of_isolation
0      หญิง  61.0         กรุงเทพมหานคร
1      หญิง  74.0         กรุงเทพมหานคร
2      หญิง  73.0                นครปฐม
3       ชาย  68.0         กรุงเทพมหานคร
4      หญิง  66.0               นนทบุรี
...     ...   ...                   ...
12648  หญิง  44.0                ชลบุรี
12649  หญิง  52.0                 ระยอง
12650  หญิง  23.0                 ระยอง
12651  หญิง  29.0                 ระยอง
12652  หญิง  22.0                   ตาก

[12653 rows x 3 columns]

In [ ]:
aa = sex_w[sex_w["sex"]=='หญิง']
aa

        sex   age province_of_isolation
0      หญิง  61.0         กรุงเทพมหานคร
1      หญิง  74.0         กรุงเทพมหานคร
2      หญิง  73.0                นครปฐม
4      หญิง  66.0               นนทบุรี
5      หญิง  33.0         กรุงเทพมหานคร
...     ...   ...                   ...
12648  หญิง  44.0                ชลบุรี
12649  หญิง  52.0                 ระยอง
12650  หญิง  23.0                 ระยอง
12651  หญิง  29.0                 ระยอง
12652  หญิง  22.0                   ตาก

[5332 rows x 3 columns]

In [ ]:
ab = sex_w[sex_w["sex"]=='ชาย']
ab

       sex   age province_of_isolation
3      ชาย  68.0         กรุงเทพมหานคร
8      ชาย  63.0         กรุงเทพมหานคร
10     ชาย  33.0         กรุงเทพมหานคร
11     ชาย  61.0         กรุงเทพมหานคร
12     ชาย   6.0         กรุงเทพมหานคร
...    ...   ...                   ...
12640  ชาย  66.0       พระนครศรีอยุธยา
12641  ชาย  29.0              ปทุมธานี
12643  ชาย  39.0                  สตูล
12646  ชาย  18.0           สมุทรปราการ
12647  ชาย  42.0           สมุทรปราการ

[4819 rows x 3 columns]

In [ ]:
age1 = aa['age'].mean()
print(f' อายุผู้ติดเชื้อโควิด-19 เพศหญิงทั้งหมด = {age1} ปี ')

age2 = ab['age'].mean()
print(f' อายุผู้ติดเชื้อโควิด-19 เพศหญิงทั้งหมด = {age2} ปี ')

 อายุผู้ติดเชื้อโควิด-19 เพศหญิงทั้งหมด = 36.63955450022614 ปี
 อายุผู้ติดเชื้อโควิด-19 เพศหญิงทั้งหมด = 39.46076940331987 ปี

### 2.คำนวณอายุเฉลี่ย ของผู้หญิง และผู้ชาย ของผู้ป่วยในขอนแก่น

In [ ]:
import statistics as stats
a = data_covid['age']
b = a[data_covid['sex']=='หญิง']
c = b[data_covid['province_of_onset']== 'ขอนแก่น']
print(c)
d = data_covid['age']
e = d[data_covid['sex']=='ชาย']
f = e[data_covid['province_of_onset']== 'ขอนแก่น']
print(f)
mean = stats.mean(c)
print(f' ค่าเฉลี่ยอายุเพศหญิงในขอนแก่น = {mean} ')
mean = stats.mean(f)
print(f' ค่าเฉลี่ยอายุเพศชายในขอนแก่น = {mean} ')

462      36.0
1970     70.0
2637     63.0
5948     32.0
6082     36.0
11697    17.0
11698    37.0
Name: age, dtype: float64
180      33.0
1466     19.0
2673     68.0
9333     17.0
9334     20.0
10610    17.0
11517    12.0
Name: age, dtype: float64
 ค่าเฉลี่ยอายุเพศหญิงในขอนแก่น = 41.57142857142857
 ค่าเฉลี่ยอายุเพศชายในขอนแก่น = 26.571428571428573

### 3.จำนวนผู้ป่วยที่เป็นต่างชาติ

In [10]:
data_covid[data_covid['risk']=='คนต่างชาติเดินทางมาจากต่างประเทศ'].shape[0]

155

In [29]:
this_data = data_covid[['sex','age','province_of_onset']]

In [12]:
this_data

        sex   age province_of_onset
0      หญิง  61.0     กรุงเทพมหานคร
1      หญิง  74.0     กรุงเทพมหานคร
2      หญิง  73.0            นครปฐม
3       ชาย  68.0     กรุงเทพมหานคร
4      หญิง  66.0     กรุงเทพมหานคร
...     ...   ...               ...
12648  หญิง  44.0            ชลบุรี
12649  หญิง  52.0             ระยอง
12650  หญิง  23.0             ระยอง
12651  หญิง  29.0             ระยอง
12652  หญิง  22.0               ตาก

[12653 rows x 3 columns]

In [14]:
female = this_data[this_data['sex']=='หญิง']

In [15]:
female['age']

0        61.0
1        74.0
2        73.0
4        66.0
5        33.0
         ...
12648    44.0
12649    52.0
12650    23.0
12651    29.0
12652    22.0
Name: age, Length: 5332, dtype: float64

In [23]:
sum = 0
N = 0
for a in female['age']:

  if a > 0:
    sum += a #sum = sum + a
    N += 1

print(sum/N)

36.63955450022614

In [27]:
female_kk = female[female['province_of_onset']=='ขอนแก่น']

sum = 0
N = 0
for a in female_kk['age'] :
    if a > 0:
      sum += a #sum = sum + a
      N += 1
    

print(f' อายุเฉลี่ยของผญในขอนแก่น {sum/N}')

 อายุเฉลี่ยของผญในขอนแก่น 41.57142857142857

### การจัดการ Missing Value
- ลบ record ที่เป็น missing
-แทนที่ ค่า missing ด้วยที่เหมาะสม mean,default , category-u-known
-ใช้ค่าจาก column อื่นๆ ช่วยประมาณค่า ค่าใน column ที่หายไป 
(regression, deep learning, etc.)

### ลบ record (dropna)

missing = ```None``` ```Na```  ```Nan``` (not a number)````

In [31]:
 this_data.shape

(12653, 3)

In [32]:
print(data_covid.shape)
print(data_covid.dropna().shape)

(12653, 10)
(6655, 10)

In [33]:
this_data.dropna().shape

(8478, 3)

In [35]:
this_data.dropna()

        sex   age province_of_onset
0      หญิง  61.0     กรุงเทพมหานคร
1      หญิง  74.0     กรุงเทพมหานคร
2      หญิง  73.0            นครปฐม
3       ชาย  68.0     กรุงเทพมหานคร
4      หญิง  66.0     กรุงเทพมหานคร
...     ...   ...               ...
12648  หญิง  44.0            ชลบุรี
12649  หญิง  52.0             ระยอง
12650  หญิง  23.0             ระยอง
12651  หญิง  29.0             ระยอง
12652  หญิง  22.0               ตาก

[8478 rows x 3 columns]

In [34]:
this_data.dropna().shape
print(this_data.shape)

(12653, 3)

In [38]:
this_data.dropna(inplace=True)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [39]:
this_data.dropna(inplace=True)
print(this_data.shape)

(8478, 3)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [42]:
this_data = data_covid[['sex','age','province_of_onset']]
this_data.shape

(12653, 3)

In [44]:
this_data.dropna().shape

(8478, 3)

In [43]:
this_data.dropna(subset=['age']).shape

(8881, 3)

แทน missing คา่ที่เหมาะสมในตาราง

### การวนลูป record ในตาราง (fillna)

In [57]:
this_data.head()

    sex   age province_of_onset
0  หญิง  61.0     กรุงเทพมหานคร
1  หญิง  74.0     กรุงเทพมหานคร
2  หญิง  73.0            นครปฐม
3   ชาย  68.0     กรุงเทพมหานคร
4  หญิง  66.0     กรุงเทพมหานคร

In [46]:
print(f' จำนวน record ก่อน drop missing ใน province {this_data.shape[0]}')

 จำนวน record ก่อน drop missing ใน province 12653

In [50]:
print(f' จำนวน record ก่อน drop missing ใน province {this_data.dropna(subset=["province_of_onset"]).shape[0]}')

 จำนวน record ก่อน drop missing ใน province 10662

In [64]:
this_data_updated = this_data.fillna(value={'sex' :'ไม่รู้', 'age':-1, 'province_of_onset' : 'ไม่รู้'})
this_data_updated.head()

    sex   age province_of_onset
0  หญิง  61.0     กรุงเทพมหานคร
1  หญิง  74.0     กรุงเทพมหานคร
2  หญิง  73.0            นครปฐม
3   ชาย  68.0     กรุงเทพมหานคร
4  หญิง  66.0     กรุงเทพมหานคร

In [67]:
this_data_updated[this_data_updated['sex']=='ไม่รู้']

          sex  age province_of_onset
4391   ไม่รู้ -1.0         สมุทรสาคร
4392   ไม่รู้ -1.0         สมุทรสาคร
4393   ไม่รู้ -1.0         สมุทรสาคร
4394   ไม่รู้ -1.0         สมุทรสาคร
4395   ไม่รู้ -1.0         สมุทรสาคร
...       ...  ...               ...
12635  ไม่รู้ -1.0         สมุทรสาคร
12636  ไม่รู้ -1.0         สมุทรสาคร
12637  ไม่รู้ -1.0         สมุทรสาคร
12638  ไม่รู้ -1.0         สมุทรสาคร
12639  ไม่รู้ -1.0         สมุทรสาคร

[2502 rows x 3 columns]

In [69]:
data_covid[this_data_updated['province_of_onset']=='ไม่รู้'] ###ทำได้เพราะมีแถวเท่ากัน

         No.  ...                                         risk
414      415  ...                                      สนามมวย
529      530  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
555      556  ...                                      สนามมวย
576      577  ...                                      สนามมวย
588      589  ...                         อยู่ระหว่างการสอบสวน
...      ...  ...                                          ...
12405  12406  ...                            Cluster สมุทรสาคร
12406  12407  ...                            Cluster สมุทรสาคร
12407  12408  ...                            Cluster สมุทรสาคร
12408  12409  ...                            Cluster สมุทรสาคร
12409  12410  ...                            Cluster สมุทรสาคร

[1991 rows x 10 columns]

In [73]:
print(this_data_updated['province_of_onset']=='ไม่รู้')

0        False
1        False
2        False
3        False
4        False
         ...
12648    False
12649    False
12650    False
12651    False
12652    False
Name: province_of_onset, Length: 12653, dtype: bool

In [74]:
this_data_updated_2 = this_data.fillna(value={'province_of_onset' : 'ไม่รู้'})

In [75]:
this_data_updated_2[this_data_updated['sex']=='ไม่รู้']

       sex  age province_of_onset
4391   NaN  NaN         สมุทรสาคร
4392   NaN  NaN         สมุทรสาคร
4393   NaN  NaN         สมุทรสาคร
4394   NaN  NaN         สมุทรสาคร
4395   NaN  NaN         สมุทรสาคร
...    ...  ...               ...
12635  NaN  NaN         สมุทรสาคร
12636  NaN  NaN         สมุทรสาคร
12637  NaN  NaN         สมุทรสาคร
12638  NaN  NaN         สมุทรสาคร
12639  NaN  NaN         สมุทรสาคร

[2502 rows x 3 columns]

### การวนลูป record ในตาราง (iterrows)

In [87]:
for each_row in this_data.iterrows() :
 ## print(each_row)
 ##print(each_row[0])
  if (each_row[1]['age']== 20) and (each_row[1]['province_of_onset']=='ขอนแก่น'):
    print(each_row)

(9334, sex                      ชาย
age                       20
province_of_onset    ขอนแก่น
Name: 9334, dtype: object)