<a href="https://colab.research.google.com/github/jiriyaporn/data_viz/blob/main/Quiz5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#เปรียบเทียบผลรวม alpha และ beta ของข้อมูลก่อนและตั้งเเต่วันที่ 2 มิถุนายน 2020

In [5]:
import pandas as pd

In [6]:
example = pd.read_csv('/content/example_timestamp.csv')
example

   Unnamed: 0  alpha  beta
0  2020-05-29   8.78    24
1  2020-05-30  13.00    25
2  2020-05-31   0.44    25
3  2020-06-01   1.94    28
4  2020-06-02   5.40    20
5  2020-06-03   5.68    21
6  2020-06-04   2.64    16

In [ ]:
from datetime import date,datetime

In [9]:
example.iloc[0,0]

'2020-05-29'

In [ ]:
before2 = example[:4]
before2

   Unnamed: 0  alpha  beta
0  2020-05-29   8.78    24
1  2020-05-30  13.00    25
2  2020-05-31   0.44    25
3  2020-06-01   1.94    28

In [ ]:
a =before2['alpha']
a

0     8.78
1    13.00
2     0.44
3     1.94
Name: alpha, dtype: float64

In [ ]:
sum(a)

24.160000000000004

In [ ]:
b = before2['beta']
b

0    24
1    25
2    25
3    28
Name: beta, dtype: int64

In [ ]:
sum(b)

102

In [ ]:
after2 = example[4:]
after2

   Unnamed: 0  alpha  beta
4  2020-06-02   5.40    20
5  2020-06-03   5.68    21
6  2020-06-04   2.64    16

In [3]:
ex = pd.read_csv('/content/example_timestamp_02.csv')
ex

   Unnamed: 0  alpha  beta
0  29-05-2020   8.78    24
1  30-05-2020  13.00    25
2  31-05-2020   0.44    25
3  01-06-2020   1.94    28
4  02-06-2020   5.40    20
5  03-06-2020   5.68    21
6  03-06-2020   2.64    16

In [ ]:
example[example['ยานพาหนะ/ท่า']=='ท่าอากาศยานดอนเมือง ขาออกประเทศ'][datetime(day=25,month=3,year=2020)]

##เปรียบเทียบเวลาาในการกดเลือกร้าน ''' time_diff_nanos ''' ระหว่างช่วงเวลา 10.00-10.59 กับ 23.00-23.59 ว่าช่วงเวลาไหนมี time_diff_nanos น้อยกว่ากัน

In [ ]:
seach = pd.read_csv('/content/search_click.csv')
seach

        click_timestamp  ...    ads
0               11:38.9  ...   True
1               30:51.3  ...   True
2               32:09.6  ...   True
3               00:59.8  ...   True
4               23:36.8  ...   True
...                 ...  ...    ...
1048570         05:28.8  ...  False
1048571         15:28.8  ...  False
1048572         11:49.4  ...  False
1048573         10:33.7  ...  False
1048574         13:51.4  ...  False

[1048575 rows x 6 columns]