<a href="https://colab.research.google.com/github/jiriyaporn/data_viz/blob/main/Quiz5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#เปรียบเทียบผลรวม alpha และ beta ของข้อมูลก่อนและตั้งเเต่วันที่ 2 มิถุนายน 2020

In [22]:
import pandas as pd
import os

In [45]:
from datetime import date,datetime

In [37]:
ex = pd.read_csv('/content/example_timestamp.csv')
ex

   Unnamed: 0  alpha  beta
0  2020-05-29   8.78    24
1  2020-05-30  13.00    25
2  2020-05-31   0.44    25
3  2020-06-01   1.94    28
4  2020-06-02   5.40    20
5  2020-06-03   5.68    21
6  2020-06-04   2.64    16

In [39]:
ex.iloc[0,0]

'2020-05-29'

In [40]:
ex_before = ex[ex['Unnamed: 0']< '2020-06-02']
ex_before.sum()

Unnamed: 0    2020-05-292020-05-302020-05-312020-06-01
alpha                                            24.16
beta                                               102
dtype: object

In [41]:
ex_after = ex[ex['Unnamed: 0']>= '2020-06-02']
ex_after.sum()

Unnamed: 0    2020-06-022020-06-032020-06-04
alpha                                  13.72
beta                                      57
dtype: object

##ตัวอย่างที่ 2.

In [44]:
ex1 = pd.read_csv('/content/example_timestamp_02.csv')
ex1

   Unnamed: 0  alpha  beta
0  29-05-2020   8.78    24
1  30-05-2020  13.00    25
2  31-05-2020   0.44    25
3  01-06-2020   1.94    28
4  02-06-2020   5.40    20
5  03-06-2020   5.68    21
6  03-06-2020   2.64    16

#search_click.csv

###เปรียบเทียบเวลาาในการกดเลือกร้าน ''' time_diff_nanos ''' ระหว่างช่วงเวลา 10.00-10.59 กับ 23.00-23.59 ว่าช่วงเวลาไหนมี time_diff_nanos น้อยกว่ากัน

In [48]:
seach = pd.read_csv('/content/search_click.csv')
seach

        click_timestamp  ...    ads
0               11:38.9  ...   True
1               30:51.3  ...   True
2               32:09.6  ...   True
3               00:59.8  ...   True
4               23:36.8  ...   True
...                 ...  ...    ...
1048570         05:28.8  ...  False
1048571         15:28.8  ...  False
1048572         11:49.4  ...  False
1048573         10:33.7  ...  False
1048574         13:51.4  ...  False

[1048575 rows x 6 columns]

In [49]:
len(seach)

1048575

In [50]:
seach.columns = [i.stritime('%H:%M:%S') if isinstance(i, datetime) else i for i in seach.columns]
seach.columns

Index(['click_timestamp', 'search_id', 'business_id', 'display_position',
       'time_diff_nanos', 'ads'],
      dtype='object')

In [51]:
string_datetime = '10:00:0'

In [55]:
import time
timeis = time.localtime()
a = time.strftime('%H:%M:%S', timeis)
print(a)

15:12:40