<a href="https://colab.research.google.com/github/jiriyaporn/data_viz/blob/main/Quiz5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#เปรียบเทียบผลรวม alpha และ beta ของข้อมูลก่อนและตั้งเเต่วันที่ 2 มิถุนายน 2020

In [1]:
import pandas as pd

In [2]:
from datetime import date,datetime

In [4]:
ex = pd.read_csv('/content/example_timestamp.csv')
ex

   Unnamed: 0  alpha  beta
0  2020-05-29   8.78    24
1  2020-05-30  13.00    25
2  2020-05-31   0.44    25
3  2020-06-01   1.94    28
4  2020-06-02   5.40    20
5  2020-06-03   5.68    21
6  2020-06-04   2.64    16

In [5]:
ex.iloc[0,0]

'2020-05-29'

In [6]:
ex_before = ex[ex['Unnamed: 0']< '2020-06-02']
ex_before.sum()

Unnamed: 0    2020-05-292020-05-302020-05-312020-06-01
alpha                                            24.16
beta                                               102
dtype: object

In [7]:
ex_after = ex[ex['Unnamed: 0']>= '2020-06-02']
ex_after.sum()

Unnamed: 0    2020-06-022020-06-032020-06-04
alpha                                  13.72
beta                                      57
dtype: object

##ตัวอย่างที่ 2.

In [9]:
ex1 = pd.read_csv('/content/example_timestamp_02.csv')
ex1

   Unnamed: 0  alpha  beta
0  29-05-2020   8.78    24
1  30-05-2020  13.00    25
2  31-05-2020   0.44    25
3  01-06-2020   1.94    28
4  02-06-2020   5.40    20
5  03-06-2020   5.68    21
6  03-06-2020   2.64    16

#search_click.csv

###เปรียบเทียบเวลาาในการกดเลือกร้าน ''' time_diff_nanos ''' ระหว่างช่วงเวลา 10.00-10.59 กับ 23.00-23.59 ว่าช่วงเวลาไหนมี time_diff_nanos น้อยกว่ากัน

In [17]:
seach = pd.read_csv('/content/search_click.csv')
seach

       click_timestamp  ...    ads
0              11:38.9  ...   True
1              30:51.3  ...   True
2              32:09.6  ...   True
3              00:59.8  ...   True
4              23:36.8  ...   True
...                ...  ...    ...
187848         39:54.1  ...  False
187849         43:57.6  ...  False
187850         33:45.9  ...  False
187851         53:21.3  ...  False
187852         19:13.8  ...  False

[187853 rows x 6 columns]

In [12]:
len(seach)

57785

In [13]:
seach.columns = [i.stritime('%H:%M:%S') if isinstance(i, datetime) else i for i in seach.columns]
seach.columns

Index(['click_timestamp', 'search_id', 'business_id', 'display_position',
       'time_diff_nanos', 'ads'],
      dtype='object')

In [ ]:
string_datetime = '10:00:0'

In [14]:
import time
timeis = time.localtime()
a = time.strftime('%H:%M:%S', timeis)
print(a)

17:33:58

#Quiz5(2)

### การบ้าน10

In [52]:

import pandas as pd
import os
from datetime import date,datetime,time
import io

In [78]:
se = pd.read_csv('/content/search_request.csv')
se.head()

   Unnamed: 0                             search_id  ...        lat        long
0           0  683de889-f923-494e-9d46-44a3d67b7259  ...  12.634739  101.463177
1           1  4a811230-ffa4-4631-a4c8-5d0394137d02  ...  14.800882  102.533777
2           2  7ad6ee8e-438e-4bea-9183-74dcef9e358e  ...  13.738260  100.371405
3           3  0c17a5f5-fa89-40f4-ae94-a8659268f827  ...  12.666877  101.860838
4           4  6870dc3a-5602-44fc-80ed-df0a7783df9d  ...  12.237242   99.879998

[5 rows x 10 columns]

In [79]:
se['search_timestamp']= pd.to_datetime(se['search_timestamp'],dayfirst=True,errors ='coerce') #เปลี่ยนข้อมูลให้เป็นTimsstamp
se

        Unnamed: 0                             search_id  ...        lat        long
0                0  683de889-f923-494e-9d46-44a3d67b7259  ...  12.634739  101.463177
1                1  4a811230-ffa4-4631-a4c8-5d0394137d02  ...  14.800882  102.533777
2                2  7ad6ee8e-438e-4bea-9183-74dcef9e358e  ...  13.738260  100.371405
3                3  0c17a5f5-fa89-40f4-ae94-a8659268f827  ...  12.666877  101.860838
4                4  6870dc3a-5602-44fc-80ed-df0a7783df9d  ...  12.237242   99.879998
...            ...                                   ...  ...        ...         ...
965428      965444  73c8fae5-a781-4314-b94f-2bcfc862eb0e  ...        NaN         NaN
965429      965445  6129e635-3861-45bf-824e-8cdd1b4cb611  ...        NaN         NaN
965430      965446  960d8298-559b-449c-aec9-e18259808273  ...        NaN         NaN
965431      965447  10e3f373-1e63-4ab7-8171-b8daaff36bbe  ...        NaN         NaN
965432      965448  003beb48-fef9-4211-aeb4-7a0b352f5ff4  ...        NaN         NaN

[965433 rows x 10 columns]

In [80]:
se["search_timestamp"] = pd.to_datetime(se["search_timestamp"])
se

        Unnamed: 0                             search_id  ...        lat        long
0                0  683de889-f923-494e-9d46-44a3d67b7259  ...  12.634739  101.463177
1                1  4a811230-ffa4-4631-a4c8-5d0394137d02  ...  14.800882  102.533777
2                2  7ad6ee8e-438e-4bea-9183-74dcef9e358e  ...  13.738260  100.371405
3                3  0c17a5f5-fa89-40f4-ae94-a8659268f827  ...  12.666877  101.860838
4                4  6870dc3a-5602-44fc-80ed-df0a7783df9d  ...  12.237242   99.879998
...            ...                                   ...  ...        ...         ...
965428      965444  73c8fae5-a781-4314-b94f-2bcfc862eb0e  ...        NaN         NaN
965429      965445  6129e635-3861-45bf-824e-8cdd1b4cb611  ...        NaN         NaN
965430      965446  960d8298-559b-449c-aec9-e18259808273  ...        NaN         NaN
965431      965447  10e3f373-1e63-4ab7-8171-b8daaff36bbe  ...        NaN         NaN
965432      965448  003beb48-fef9-4211-aeb4-7a0b352f5ff4  ...        NaN         NaN

[965433 rows x 10 columns]

In [81]:

top_table = se.iloc[:10,:]
top_table

   Unnamed: 0                             search_id  ...        lat        long
0           0  683de889-f923-494e-9d46-44a3d67b7259  ...  12.634739  101.463177
1           1  4a811230-ffa4-4631-a4c8-5d0394137d02  ...  14.800882  102.533777
2           2  7ad6ee8e-438e-4bea-9183-74dcef9e358e  ...  13.738260  100.371405
3           3  0c17a5f5-fa89-40f4-ae94-a8659268f827  ...  12.666877  101.860838
4           4  6870dc3a-5602-44fc-80ed-df0a7783df9d  ...  12.237242   99.879998
5           5  4c048ac7-9fc7-49e8-9ee4-20ff755b939d  ...  12.853119  101.108515
6           6  3ecf13ba-be4d-4eb9-9374-a1cca09d1614  ...  12.451104  102.248522
7           7  a7e6b7c5-3d3c-4337-8337-d29c5346b686  ...  13.640855  100.433287
8           8  02fedb5c-c9cd-46d7-9354-7613ecb7cfdd  ...  13.720904  100.527299
9           9  e215d487-0450-4794-830a-ecfc0ab6493b  ...  13.720835  100.527152

[10 rows x 10 columns]

In [82]:
top_table[top_table['search_timestamp'].dt.dayofweek == 3] #ดึงเฉพาะวันพฤหัส=3 วันจันทร์=0

   Unnamed: 0                             search_id  ...        lat        long
0           0  683de889-f923-494e-9d46-44a3d67b7259  ...  12.634739  101.463177
1           1  4a811230-ffa4-4631-a4c8-5d0394137d02  ...  14.800882  102.533777
2           2  7ad6ee8e-438e-4bea-9183-74dcef9e358e  ...  13.738260  100.371405

[3 rows x 10 columns]


##เปรียบเทียบจำนวน requests ของช่วงเวลา 11.00-11.59 กับ 23.00-23.59เปรียบเทียบจำนวน requests ของวันจันทร์-พฤหัส กับ ศุกร์-อาทิตย์

##เปรียบเทียบ requests ของวัน

In [83]:
data_weekday = se[se['search_timestamp'].dt.dayofweek <= 3] #ดึงเอาวันจันทร์-พฤหัส
data_weekday

        Unnamed: 0                             search_id  ...        lat        long
0                0  683de889-f923-494e-9d46-44a3d67b7259  ...  12.634739  101.463177
1                1  4a811230-ffa4-4631-a4c8-5d0394137d02  ...  14.800882  102.533777
2                2  7ad6ee8e-438e-4bea-9183-74dcef9e358e  ...  13.738260  100.371405
19              19  5a68d9e6-3173-4e5c-9087-983c012d7a6d  ...  13.297153  100.953701
20              20  2807eb47-4bc4-445d-abae-0bb0d44867dd  ...   8.188164   98.288082
...            ...                                   ...  ...        ...         ...
965428      965444  73c8fae5-a781-4314-b94f-2bcfc862eb0e  ...        NaN         NaN
965429      965445  6129e635-3861-45bf-824e-8cdd1b4cb611  ...        NaN         NaN
965430      965446  960d8298-559b-449c-aec9-e18259808273  ...        NaN         NaN
965431      965447  10e3f373-1e63-4ab7-8171-b8daaff36bbe  ...        NaN         NaN
965432      965448  003beb48-fef9-4211-aeb4-7a0b352f5ff4  ...        NaN         NaN

[400635 rows x 10 columns]

In [84]:
data_holiday = se[se['search_timestamp'].dt.dayofweek >= 4] #ดึงเอาวันศุกร์-อาทิตย์
data_holiday

        Unnamed: 0                             search_id  ...        lat        long
3                3  0c17a5f5-fa89-40f4-ae94-a8659268f827  ...  12.666877  101.860838
4                4  6870dc3a-5602-44fc-80ed-df0a7783df9d  ...  12.237242   99.879998
5                5  4c048ac7-9fc7-49e8-9ee4-20ff755b939d  ...  12.853119  101.108515
6                6  3ecf13ba-be4d-4eb9-9374-a1cca09d1614  ...  12.451104  102.248522
7                7  a7e6b7c5-3d3c-4337-8337-d29c5346b686  ...  13.640855  100.433287
...            ...                                   ...  ...        ...         ...
965062      965078  71f19505-a940-492e-8cfb-6df53de0ccab  ...        NaN         NaN
965063      965079  d2194163-ea90-43c0-84d8-9b788ce746ac  ...        NaN         NaN
965064      965080  03697a3e-b2e2-464f-b6c9-6d7d3b243242  ...        NaN         NaN
965065      965081  90251099-91c9-405a-9d6f-207e966a0947  ...        NaN         NaN
965066      965082  a0472b98-804a-4e64-8b42-3e2c3195add8  ...        NaN         NaN

[564798 rows x 10 columns]

In [85]:

compare_day = data_weekday['Unnamed: 0'].sum() < data_holiday['Unnamed: 0'].sum() 
compare_day

True

In [86]:
print(f"จำนวน requests ของวันจันทร์-พฤหัสบดี มีจำนวนมากกว่า วันศุกร์-อาทิตย์ แสดงว่าในวันธรรมดาจะมีผู้ใช้แอพพิเคชั่นในการหาร้านอาหารน้อยกว่าในวันหยุด")

จำนวน requests ของวันจันทร์-พฤหัสบดี มีจำนวนมากกว่า วันศุกร์-อาทิตย์ แสดงว่าในวันธรรมดาจะมีผู้ใช้แอพพิเคชั่นในการหาร้านอาหารน้อยกว่าในวันหยุด

In [87]:
data_daylight = se[se['search_timestamp'].dt.time < time(hour=12)]
data_daylight= data_daylight[data_daylight['search_timestamp'].dt.time >= time(hour=11)]
data_daylight= data_daylight.iloc[:,2].count()
data_daylight

70854

In [88]:
data_night = se[se['search_timestamp'].dt.time >= time(hour=23)]
data_night = data_night.iloc[:,2].count()
data_night

25720

In [89]:
data_daylight > data_night

True