<a href="https://colab.research.google.com/github/jiriyaporn/data_viz/blob/main/Quiz5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#เปรียบเทียบผลรวม alpha และ beta ของข้อมูลก่อนและตั้งเเต่วันที่ 2 มิถุนายน 2020

In [ ]:
import pandas as pd

In [ ]:
from datetime import date,datetime

In [ ]:
ex = pd.read_csv('/content/example_timestamp.csv')
ex

   Unnamed: 0  alpha  beta
0  2020-05-29   8.78    24
1  2020-05-30  13.00    25
2  2020-05-31   0.44    25
3  2020-06-01   1.94    28
4  2020-06-02   5.40    20
5  2020-06-03   5.68    21
6  2020-06-04   2.64    16

In [ ]:
ex.iloc[0,0]

'2020-05-29'

In [ ]:
ex_before = ex[ex['Unnamed: 0']< '2020-06-02']
ex_before.sum()

Unnamed: 0    2020-05-292020-05-302020-05-312020-06-01
alpha                                            24.16
beta                                               102
dtype: object

In [ ]:
ex_after = ex[ex['Unnamed: 0']>= '2020-06-02']
ex_after.sum()

Unnamed: 0    2020-06-022020-06-032020-06-04
alpha                                  13.72
beta                                      57
dtype: object

##ตัวอย่างที่ 2.

In [ ]:
ex1 = pd.read_csv('/content/example_timestamp_02.csv')
ex1

   Unnamed: 0  alpha  beta
0  29-05-2020   8.78    24
1  30-05-2020  13.00    25
2  31-05-2020   0.44    25
3  01-06-2020   1.94    28
4  02-06-2020   5.40    20
5  03-06-2020   5.68    21
6  03-06-2020   2.64    16

#search_click.csv

###เปรียบเทียบเวลาาในการกดเลือกร้าน ''' time_diff_nanos ''' ระหว่างช่วงเวลา 10.00-10.59 กับ 23.00-23.59 ว่าช่วงเวลาไหนมี time_diff_nanos น้อยกว่ากัน

In [ ]:
seach = pd.read_csv('/content/search_click.csv')
seach

       click_timestamp  ...    ads
0              11:38.9  ...   True
1              30:51.3  ...   True
2              32:09.6  ...   True
3              00:59.8  ...   True
4              23:36.8  ...   True
...                ...  ...    ...
187848         39:54.1  ...  False
187849         43:57.6  ...  False
187850         33:45.9  ...  False
187851         53:21.3  ...  False
187852         19:13.8  ...  False

[187853 rows x 6 columns]

In [ ]:
len(seach)

57785

In [ ]:
seach.columns = [i.stritime('%H:%M:%S') if isinstance(i, datetime) else i for i in seach.columns]
seach.columns

Index(['click_timestamp', 'search_id', 'business_id', 'display_position',
       'time_diff_nanos', 'ads'],
      dtype='object')

In [ ]:
string_datetime = '10:00:0'

In [ ]:
import time
timeis = time.localtime()
a = time.strftime('%H:%M:%S', timeis)
print(a)

17:33:58

#Quiz5(2)

### การบ้าน10

In [2]:

import pandas as pd
import os
from datetime import date,datetime,time
import io

In [3]:
se = pd.read_csv('/content/search_request.csv')
se.head()

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (7,8,9) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

   Unnamed: 0                             search_id  ...      lat     long
0           0  683de889-f923-494e-9d46-44a3d67b7259  ...  12.6347  101.463
1           1  4a811230-ffa4-4631-a4c8-5d0394137d02  ...  14.8009  102.534
2           2  7ad6ee8e-438e-4bea-9183-74dcef9e358e  ...  13.7383  100.371
3           3  0c17a5f5-fa89-40f4-ae94-a8659268f827  ...  12.6669  101.861
4           4  6870dc3a-5602-44fc-80ed-df0a7783df9d  ...  12.2372    99.88

[5 rows x 10 columns]

In [4]:
se['search_timestamp']= pd.to_datetime(se['search_timestamp'],dayfirst=True,errors ='coerce') #เปลี่ยนข้อมูลให้เป็นTimsstamp
se

         Unnamed: 0  ...                long
0                 0  ...             101.463
1                 1  ...             102.534
2                 2  ...             100.371
3                 3  ...             101.861
4                 4  ...               99.88
...             ...  ...                 ...
1007274     1007291  ...         100.5522718
1007275     1007292  ...   100.5386730214068
1007276     1007293  ...  100.66336467862129
1007277     1007294  ...          101.260767
1007278     1007295  ...                 NaN

[1007279 rows x 10 columns]

In [5]:
se["search_timestamp"] = pd.to_datetime(se["search_timestamp"])
se

         Unnamed: 0  ...                long
0                 0  ...             101.463
1                 1  ...             102.534
2                 2  ...             100.371
3                 3  ...             101.861
4                 4  ...               99.88
...             ...  ...                 ...
1007274     1007291  ...         100.5522718
1007275     1007292  ...   100.5386730214068
1007276     1007293  ...  100.66336467862129
1007277     1007294  ...          101.260767
1007278     1007295  ...                 NaN

[1007279 rows x 10 columns]

In [6]:

top_table = se.iloc[:10,:]
top_table

   Unnamed: 0                             search_id  ...      lat     long
0           0  683de889-f923-494e-9d46-44a3d67b7259  ...  12.6347  101.463
1           1  4a811230-ffa4-4631-a4c8-5d0394137d02  ...  14.8009  102.534
2           2  7ad6ee8e-438e-4bea-9183-74dcef9e358e  ...  13.7383  100.371
3           3  0c17a5f5-fa89-40f4-ae94-a8659268f827  ...  12.6669  101.861
4           4  6870dc3a-5602-44fc-80ed-df0a7783df9d  ...  12.2372    99.88
5           5  4c048ac7-9fc7-49e8-9ee4-20ff755b939d  ...  12.8531  101.109
6           6  3ecf13ba-be4d-4eb9-9374-a1cca09d1614  ...  12.4511  102.249
7           7  a7e6b7c5-3d3c-4337-8337-d29c5346b686  ...  13.6409  100.433
8           8  02fedb5c-c9cd-46d7-9354-7613ecb7cfdd  ...  13.7209  100.527
9           9  e215d487-0450-4794-830a-ecfc0ab6493b  ...  13.7208  100.527

[10 rows x 10 columns]

In [7]:
top_table[top_table['search_timestamp'].dt.dayofweek == 3] #ดึงเฉพาะวันพฤหัส=3 วันจันทร์=0

   Unnamed: 0                             search_id  ...      lat     long
0           0  683de889-f923-494e-9d46-44a3d67b7259  ...  12.6347  101.463
1           1  4a811230-ffa4-4631-a4c8-5d0394137d02  ...  14.8009  102.534
2           2  7ad6ee8e-438e-4bea-9183-74dcef9e358e  ...  13.7383  100.371

[3 rows x 10 columns]


##เปรียบเทียบจำนวน requests ของช่วงเวลา 11.00-11.59 กับ 23.00-23.59เปรียบเทียบจำนวน requests ของวันจันทร์-พฤหัส กับ ศุกร์-อาทิตย์

##เปรียบเทียบ requests ของวัน

In [8]:
data_weekday = se[se['search_timestamp'].dt.dayofweek <= 3] #ดึงเอาวันจันทร์-พฤหัส
data_weekday

         Unnamed: 0  ...                long
0                 0  ...             101.463
1                 1  ...             102.534
2                 2  ...             100.371
19               19  ...             100.954
20               20  ...             98.2881
...             ...  ...                 ...
1007274     1007291  ...         100.5522718
1007275     1007292  ...   100.5386730214068
1007276     1007293  ...  100.66336467862129
1007277     1007294  ...          101.260767
1007278     1007295  ...                 NaN

[423805 rows x 10 columns]

In [9]:
data_holiday = se[se['search_timestamp'].dt.dayofweek >= 4] #ดึงเอาวันศุกร์-อาทิตย์
data_holiday

         Unnamed: 0  ...                long
3                 3  ...             101.861
4                 4  ...               99.88
5                 5  ...             101.109
6                 6  ...             102.249
7                 7  ...             100.433
...             ...  ...                 ...
1007104     1007121  ...          100.504597
1007105     1007122  ...  100.50992757081987
1007106     1007123  ...         102.8231338
1007107     1007124  ...         100.4301246
1007108     1007125  ...         101.1438384

[583473 rows x 10 columns]

In [10]:

compare_day = data_weekday['Unnamed: 0'].sum() < data_holiday['Unnamed: 0'].sum() 
compare_day

True

In [11]:
print(f"จำนวน requests ของวันจันทร์-พฤหัสบดี มีจำนวนมากกว่า วันศุกร์-อาทิตย์ แสดงว่าในวันธรรมดาจะมีผู้ใช้แอพพิเคชั่นในการหาร้านอาหารน้อยกว่าในวันหยุด")

จำนวน requests ของวันจันทร์-พฤหัสบดี มีจำนวนมากกว่า วันศุกร์-อาทิตย์ แสดงว่าในวันธรรมดาจะมีผู้ใช้แอพพิเคชั่นในการหาร้านอาหารน้อยกว่าในวันหยุด

In [12]:
data_daylight = se[se['search_timestamp'].dt.time < time(hour=12)]
data_daylight= data_daylight[data_daylight['search_timestamp'].dt.time >= time(hour=11)]
data_daylight= data_daylight.iloc[:,2].count()
data_daylight

74024

In [13]:
data_night = se[se['search_timestamp'].dt.time >= time(hour=23)]
data_night = data_night.iloc[:,2].count()
data_night

27811

In [14]:
data_daylight > data_night

True

เงื่อนไขช่วงเวลา

In [ ]:
if A > B:
  word = 'มากกว่า'
elif A<B:
  word = 'น้อย'
else:
  word = 'เท่ากับ'

inline if