<a href="https://colab.research.google.com/github/jiriyaporn/data_viz/blob/main/Untitled6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [43]:
import pandas as pd

In [46]:
data_csv = pd.read_csv('3.-41-58.csv', encoding= 'iso-8859-11', header=3)
##data_csv.iloc[:10,:]
data_csv.head(10)

          ภาค และจังหวัด Unnamed: 1  ... Unnamed: 65 Unnamed: 66
0                    NaN        NaN  ...         NaN         NaN
1                    NaN        NaN  ...         NaN         NaN
2       ทั่วราชอาณาจักร         NaN  ...         NaN         NaN
3              ตอนพิเศษ         NaN  ...         NaN         NaN
4         กรุงเทพมหานคร         NaN  ...         NaN         NaN
5           สมุทรปราการ         NaN  ...         NaN         NaN
6               นนทบุรี         NaN  ...         NaN         NaN
7              ปทุมธานี         NaN  ...         NaN         NaN
8               ภาคกลาง         NaN  ...         NaN         NaN
9       พระนครศรีอยุธยา         NaN  ...         NaN         NaN

[10 rows x 67 columns]

In [48]:
data_1 = data_csv.head(10).dropna(subset=['ภาค และจังหวัด']).iloc[:,:13]
data_1

          ภาค และจังหวัด Unnamed: 1  ...      2558             Region and province
2       ทั่วราชอาณาจักร         NaN  ...   26,915                   Whole Kingdom
3              ตอนพิเศษ         NaN  ...   41,002                 Greater Bangkok
4         กรุงเทพมหานคร         NaN  ...   45,572                         Bangkok
5           สมุทรปราการ         NaN  ...   25,457                    Samut Prakan
6               นนทบุรี         NaN  ...   36,884                      Nonthaburi
7              ปทุมธานี         NaN  ...   41,057                    Pathum Thani
8               ภาคกลาง         NaN  ...   26,601                  Central Region
9       พระนครศรีอยุธยา         NaN  ...   28,379        Phra Nakhon Si Ayutthaya

[8 rows x 13 columns]

In [49]:
data_1.dropna(axis=1)

          ภาค และจังหวัด      2541  ...      2558             Region and province
2       ทั่วราชอาณาจักร    12,492   ...   26,915                   Whole Kingdom
3              ตอนพิเศษ    24,929   ...   41,002                 Greater Bangkok
4         กรุงเทพมหานคร    26,054   ...   45,572                         Bangkok
5           สมุทรปราการ    18,100   ...   25,457                    Samut Prakan
6               นนทบุรี    24,211   ...   36,884                      Nonthaburi
7              ปทุมธานี    21,793   ...   41,057                    Pathum Thani
8               ภาคกลาง    12,643   ...   26,601                  Central Region
9       พระนครศรีอยุธยา    12,918   ...   28,379        Phra Nakhon Si Ayutthaya

[8 rows x 12 columns]

In [51]:
data_csv.iloc[60:70,:]

     ภาค และจังหวัด Unnamed: 1      2541  ... Unnamed: 64 Unnamed: 65 Unnamed: 66
60         ขอนแก่น         NaN   11,521   ...         NaN         NaN         NaN
61        อุดรธานี         NaN    7,744   ...         NaN         NaN         NaN
62             เลย         NaN    9,905   ...         NaN         NaN         NaN
63         หนองคาย         NaN   12,548   ...         NaN         NaN         NaN
64       มหาสารคาม         NaN    8,444   ...         NaN         NaN         NaN
65        ร้อยเอ็ด         NaN    5,987   ...         NaN         NaN         NaN
66       กาฬสินธุ์         NaN    6,908   ...         NaN         NaN         NaN
67          สกลนคร         NaN    7,660   ...         NaN         NaN         NaN
68          นครพนม         NaN    7,909   ...         NaN         NaN         NaN
69        มุกดาหาร         NaN    9,890   ...         NaN         NaN         NaN

[10 rows x 67 columns]

In [ ]:
data_1 = data_csv.head(10).dropna(subset=['ภาค เเละจังหวัด']).drop(col)
data_1

In [ ]:
data_1.drop(columns=[Unnamed])

In [52]:
data_1.iloc[50:60, :]

Empty DataFrame
Columns: [ภาค และจังหวัด, Unnamed: 1, 2541, 2543, 2545, 2547, 2549, 2550, 2552, 2554, 2556, 2558, Region and province]
Index: []